USE [master]
GO
/****** Object:  Database [apollo2]    Script Date: 22/6/2020 16:46:02 ******/
CREATE DATABASE [apollo2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'apollo2', FILENAME = N'C:\Users\lonis\apollo2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'apollo2_log', FILENAME = N'C:\Users\lonis\apollo2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [apollo2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [apollo2]
GO
USE [apollo2]
GO
/****** Object:  Table [dbo].[tiposPagos]    Script Date: 22/6/2020 16:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiposPagos](
	[idTipoPago] [int] IDENTITY(1,1) NOT NULL,
	[nombreTipoPago] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 22/6/2020 16:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[idFactura] [int] IDENTITY(1,1) NOT NULL,
	[fechaHora] [datetime] NULL,
	[nroCliente] [int] NULL,
	[importeTotal] [float] NULL,
	[idEmpleado] [int] NULL,
	[tipoPago] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[meses]    Script Date: 22/6/2020 16:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[meses] AS
SELECT 1 as mes, 'Enero' as nombreMes
UNION
SELECT 2 as mes, 'Febrero' as nombreMes
UNION
SELECT 3 as mes, 'Marzo' as nombreMes
UNION
SELECT 4 as mes, 'Abril' as nombreMes
UNION
SELECT 5 as mes, 'Mayo' as nombreMes
UNION
SELECT 6 as mes, 'Junio' as nombreMes
UNION
SELECT 7 as mes, 'Julio' as nombreMes
UNION
SELECT 8 as mes, 'Agosto' as nombreMes
UNION
SELECT 9 as mes, 'Septiembre' as nombreMes
UNION
SELECT 10 as mes, 'Octubre' as nombreMes
UNION
SELECT 11 as mes, 'Noviembre' as nombreMes
UNION
SELECT 12 as mes, 'Diciembre' as nombreMes
GO
/****** Object:  View [dbo].[estadisticaVentasApiladas]    Script Date: 22/6/2020 16:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[estadisticaVentasApiladas] AS
SELECT meses.mes, t.nombreTipoPago AS tipoPago, COUNT(v.idFactura) AS cantidadVentas, meses.nombreMes 
FROM ventas v 
RIGHT JOIN meses ON MONTH(v.fechaHora) = meses.mes 
JOIN tiposPagos t ON t.idTipoPago = v.tipoPago
GROUP BY MONTH(v.fechaHora), t.nombreTipoPago, meses.nombreMes, meses.mes;
GO
/****** Object:  View [dbo].[estadisticaGananciaAnual]    Script Date: 22/6/2020 16:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[estadisticaGananciaAnual] AS
SELECT m.mes, (v.importeTotal * 0.79) as ganancia, YEAR(v.fechaHora) as anio
FROM ventas v RIGHT JOIN meses m ON MONTH(v.fechaHora) = m.mes;
GO
/****** Object:  Table [dbo].[categoriasProductos]    Script Date: 22/6/2020 16:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoriasProductos](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombreCategoria] [nvarchar](255) NULL,
	[descripcionCategoria] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientesMayoristas]    Script Date: 22/6/2020 16:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientesMayoristas](
	[nroCliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NULL,
	[apellido] [nvarchar](255) NULL,
	[calle] [nvarchar](255) NULL,
	[nroCalle] [int] NULL,
	[codPostal] [int] NULL,
	[tipoDocumento] [int] NULL,
	[nroDocumento] [int] NULL,
	[email] [nvarchar](255) NULL,
	[telefono] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[nroCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalleVentas]    Script Date: 22/6/2020 16:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalleVentas](
	[idDetalleVenta] [int] NOT NULL,
	[idFactura] [int] NOT NULL,
	[idProducto] [int] NULL,
	[precioUnitario] [float] NULL,
	[cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleVenta] ASC,
	[idFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 22/6/2020 16:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [nvarchar](255) NULL,
	[contrasenia] [nvarchar](255) NULL,
	[nombre] [nvarchar](255) NULL,
	[apellido] [nvarchar](255) NULL,
	[fechaNacimiento] [date] NULL,
	[fechaIngreso] [date] NULL,
	[sigueTrabajando] [bit] NULL,
	[idPerfil] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[localidades]    Script Date: 22/6/2020 16:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[localidades](
	[codPostal] [int] NOT NULL,
	[nombre] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[codPostal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfil]    Script Date: 22/6/2020 16:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil](
	[idPerfil] [int] IDENTITY(1,1) NOT NULL,
	[nombrePerfil] [nvarchar](255) NULL,
	[descripcionPerfil] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 22/6/2020 16:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombreProducto] [nvarchar](255) NULL,
	[descripcionProducto] [nvarchar](255) NULL,
	[cantidadStock] [int] NULL,
	[precioUnitario] [real] NULL,
	[stockMinimo] [int] NULL,
	[idCategoria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoDocumento]    Script Date: 22/6/2020 16:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoDocumento](
	[idTipoDoc] [int] IDENTITY(1,1) NOT NULL,
	[nombreTipoDoc] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categoriasProductos] ON 

INSERT [dbo].[categoriasProductos] ([idCategoria], [nombreCategoria], [descripcionCategoria]) VALUES (1, N'Agendas', N'Agendas')
INSERT [dbo].[categoriasProductos] ([idCategoria], [nombreCategoria], [descripcionCategoria]) VALUES (2, N'Artistica', N'Artistica')
INSERT [dbo].[categoriasProductos] ([idCategoria], [nombreCategoria], [descripcionCategoria]) VALUES (3, N'Carpetas', N'Carpetas')
SET IDENTITY_INSERT [dbo].[categoriasProductos] OFF
GO
SET IDENTITY_INSERT [dbo].[clientesMayoristas] ON 

INSERT [dbo].[clientesMayoristas] ([nroCliente], [nombre], [apellido], [calle], [nroCalle], [codPostal], [tipoDocumento], [nroDocumento], [email], [telefono]) VALUES (2, N'Arcor', N'Inc', N'Arcor', 123, 5000, 1, 20800732, N'arcor@inc.com', 3512080328)
INSERT [dbo].[clientesMayoristas] ([nroCliente], [nombre], [apellido], [calle], [nroCalle], [codPostal], [tipoDocumento], [nroDocumento], [email], [telefono]) VALUES (3, N'HOLA', N'Inc', N'St Valley', 290, 5940, 2, 41034088, N'martin@google.com', 30000007)
INSERT [dbo].[clientesMayoristas] ([nroCliente], [nombre], [apellido], [calle], [nroCalle], [codPostal], [tipoDocumento], [nroDocumento], [email], [telefono]) VALUES (4, N'Messi', N'Leonel', N'Sarmiento2171', 2171, 5000, 1, 42052347, N'messielmejor@gmail.com', 351376100)
GO
SET IDENTITY_INSERT [dbo].[clientesMayoristas] OFF
GO
INSERT [dbo].[detalleVentas] ([idDetalleVenta], [idFactura], [idProducto], [precioUnitario], [cantidad]) VALUES (1, 15, 6, 177.54, 3)
INSERT [dbo].[detalleVentas] ([idDetalleVenta], [idFactura], [idProducto], [precioUnitario], [cantidad]) VALUES (1, 16, 6, 236.72, 4)
INSERT [dbo].[detalleVentas] ([idDetalleVenta], [idFactura], [idProducto], [precioUnitario], [cantidad]) VALUES (1, 20, 6, 118.36, 2)
GO
SET IDENTITY_INSERT [dbo].[empleados] ON 

INSERT [dbo].[empleados] ([idEmpleado], [usuario], [contrasenia], [nombre], [apellido], [fechaNacimiento], [fechaIngreso], [sigueTrabajando], [idPerfil]) VALUES (1, N'Tincho', N'HOLA123', N'Martin123', N'Arriaga123123123', CAST(N'1999-10-12' AS Date), CAST(N'2020-03-05' AS Date), 1, 1)
INSERT [dbo].[empleados] ([idEmpleado], [usuario], [contrasenia], [nombre], [apellido], [fechaNacimiento], [fechaIngreso], [sigueTrabajando], [idPerfil]) VALUES (2, N'Nehuen', N'123', N'Nehuen', N'Oliveraa', CAST(N'2890-03-25' AS Date), CAST(N'2020-03-05' AS Date), 1, 1)
INSERT [dbo].[empleados] ([idEmpleado], [usuario], [contrasenia], [nombre], [apellido], [fechaNacimiento], [fechaIngreso], [sigueTrabajando], [idPerfil]) VALUES (3, N'Fede', N'fede7889', N'Federico', N'Gatica', CAST(N'1999-07-23' AS Date), CAST(N'2020-05-03' AS Date), 1, 2)
SET IDENTITY_INSERT [dbo].[empleados] OFF
GO
INSERT [dbo].[localidades] ([codPostal], [nombre]) VALUES (5000, N'Córdoba')
INSERT [dbo].[localidades] ([codPostal], [nombre]) VALUES (5111, N'Rio Ceballos')
INSERT [dbo].[localidades] ([codPostal], [nombre]) VALUES (5113, N'Salsipuedes')
GO
SET IDENTITY_INSERT [dbo].[perfil] ON 

INSERT [dbo].[perfil] ([idPerfil], [nombrePerfil], [descripcionPerfil]) VALUES (1, N'Dueño', N'Dueño de la libreria')
INSERT [dbo].[perfil] ([idPerfil], [nombrePerfil], [descripcionPerfil]) VALUES (2, N'Encargado de Stock', N'Puede reponer stock')
INSERT [dbo].[perfil] ([idPerfil], [nombrePerfil], [descripcionPerfil]) VALUES (3, N'Encargado de Ventas', N'Puede registrar, consultar y anular ventas')
SET IDENTITY_INSERT [dbo].[perfil] OFF
GO
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([idProducto], [nombreProducto], [descripcionProducto], [cantidadStock], [precioUnitario], [stockMinimo], [idCategoria]) VALUES (5, N'ACUARELA ESZKO', N'X12 + PINCELES', 20, 9999, 10, 2)
INSERT [dbo].[productos] ([idProducto], [nombreProducto], [descripcionProducto], [cantidadStock], [precioUnitario], [stockMinimo], [idCategoria]) VALUES (6, N'CUADERNO AMERICA TAPA FLEXIBLE', N'86 HOJAS RAYADAS', 23, 59.18, 11, 4)
INSERT [dbo].[productos] ([idProducto], [nombreProducto], [descripcionProducto], [cantidadStock], [precioUnitario], [stockMinimo], [idCategoria]) VALUES (7, N'AGENDA 2020 BARBIE', N'15X21CM DIARIA', 20, 809.73, 10, 1)
SET IDENTITY_INSERT [dbo].[productos] OFF
GO
SET IDENTITY_INSERT [dbo].[tipoDocumento] ON 

INSERT [dbo].[tipoDocumento] ([idTipoDoc], [nombreTipoDoc]) VALUES (1, N'DNI')
INSERT [dbo].[tipoDocumento] ([idTipoDoc], [nombreTipoDoc]) VALUES (2, N'Pasaporte')
INSERT [dbo].[tipoDocumento] ([idTipoDoc], [nombreTipoDoc]) VALUES (3, N'CUIT/CUIL')
SET IDENTITY_INSERT [dbo].[tipoDocumento] OFF
GO
SET IDENTITY_INSERT [dbo].[tiposPagos] ON 

INSERT [dbo].[tiposPagos] ([idTipoPago], [nombreTipoPago]) VALUES (1, N'Contado')
INSERT [dbo].[tiposPagos] ([idTipoPago], [nombreTipoPago]) VALUES (2, N'Debito')
INSERT [dbo].[tiposPagos] ([idTipoPago], [nombreTipoPago]) VALUES (3, N'Credito')
SET IDENTITY_INSERT [dbo].[tiposPagos] OFF
GO
SET IDENTITY_INSERT [dbo].[ventas] ON 

INSERT [dbo].[ventas] ([idFactura], [fechaHora], [nroCliente], [importeTotal], [idEmpleado], [tipoPago]) VALUES (15, CAST(N'2020-05-18T19:05:06.000' AS DateTime), 2, 177.54, 2, 1)
INSERT [dbo].[ventas] ([idFactura], [fechaHora], [nroCliente], [importeTotal], [idEmpleado], [tipoPago]) VALUES (16, CAST(N'2020-05-18T19:05:31.000' AS DateTime), 2, 312.47, 2, 1)
INSERT [dbo].[ventas] ([idFactura], [fechaHora], [nroCliente], [importeTotal], [idEmpleado], [tipoPago]) VALUES (20, CAST(N'2020-05-19T16:43:45.000' AS DateTime), 2, 118.36, 2, 1)
SET IDENTITY_INSERT [dbo].[ventas] OFF
GO
ALTER TABLE [dbo].[clientesMayoristas]  WITH CHECK ADD FOREIGN KEY([codPostal])
REFERENCES [dbo].[localidades] ([codPostal])
GO
ALTER TABLE [dbo].[clientesMayoristas]  WITH CHECK ADD FOREIGN KEY([tipoDocumento])
REFERENCES [dbo].[tipoDocumento] ([idTipoDoc])
GO
ALTER TABLE [dbo].[detalleVentas]  WITH CHECK ADD FOREIGN KEY([idFactura])
REFERENCES [dbo].[ventas] ([idFactura])
GO
ALTER TABLE [dbo].[detalleVentas]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[productos] ([idProducto])
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([idPerfil])
REFERENCES [dbo].[perfil] ([idPerfil])
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD FOREIGN KEY([idCategoria])
REFERENCES [dbo].[categoriasProductos] ([idCategoria])
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([nroCliente])
REFERENCES [dbo].[clientesMayoristas] ([nroCliente])
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([tipoPago])
REFERENCES [dbo].[tiposPagos] ([idTipoPago])
GO
USE [master]
GO
